.navbar img{
    height: 50px;
    padding:5px;
    margin-left: 60px;
}
.navbar li{
    
    text-decoration: none;
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
    margin-right: 30px;
  }
  .nav-btn{
      width:120px;
     
     
  }